{
  "presets": [
    ["@babel/preset-env", {
      "modules": "commonjs",
      "targets": {
        "node": "10.15"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-flow",
    "@babel/plugin-transform-flow-strip-types",
    [
      "module-resolver",
      {
        "alias": {
          "@": "."
        }
      }
    ]
  ]
}
