{
  "presets": [
    ["@babel/preset-env", {
      "modules": "commonjs",
      "targets": {
        "node": "10.15"
      }
    }]
  ],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types"
  ]
}
