{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:sonarjs/recommended",
    "plugin:unicorn/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "sonarjs",
    "unicorn"
  ],
  "rules": {
    "no-unused-vars": "off",
    "arrow-body-style": "off",
    "import/prefer-default-export": "off",
    "no-console": "off",
    "max-len": "off",
    "flowtype/no-types-missing-file-annotation": "off",
    "unicorn/filename-case": "off"
  }
}
