{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "no-unused-vars": "off",
    "arrow-body-style": "off",
    "import/prefer-default-export": "off",
    "no-console": "off",
    "max-len": "off",
    "flowtype/no-types-missing-file-annotation": "off"
  }
}
