service: serverless-starter-app

frameworkVersion: ">=1.1.0 <2.0.0"

provider:
  name: aws
  runtime: nodejs14.x
  memorySize: 128
  timeout: 60
  region: ${env:AWS_REGION, env:AWS_DEFAULT_REGION, 'eu-west-1'}
  stage: ${opt:stage, 'dev'}
  versionFunctions: false
  environment:
    EPSAGON_TOKEN: ${env:EPSAGON_TOKEN, ""}
    EPSAGON_SERVICE_NAME: ${env:EPSAGON_SERVICE_NAME, ""}
    REGION: ${self:provider.region}
    STAGE: ${self:provider.stage}

functions:
  hello:
    handler: handler.hello
    events:
      - http:
          path: hello
          method: get
          cors: true

plugins:
  - serverless-webpack
  - serverless-dotenv-plugin
  - serverless-offline

custom:
  serverless-offline:
    # port to access API endpoints through
    httpPort: 3001
    # default is 3002
    lambdaPort: 3002
    noPrependStageInUrl: true
    babelOptions:
      presets: ["env"]

  webpack:
    packager: 'yarn'
    includeModules:
      forceExclude:
        - aws-sdk
